<section id="skills">
    <div class="container center-align">
        <h3>
            <i class="material-icons">insert_chart</i>
        </h3>
        {{#each skills}}
            {{>skill this}}
        {{/each}}
    </div>
</section>