<section id="network" class="scrollspy">
    <div class="narrow-section teal darken-3">
        <div class="container row">
            <h3>
                <i class="material-icons white-text">share</i>
            </h3>

            <div id="network-buttons">
                {{#each links}}
                    {{> link this }}
                {{/each}}
            </div>
        </div>
    </div>
</section>