<section id="projects" class="scrollspy teal darken-2 white-text">
    <div class="container">
        <h3>
            <i class="material-icons">developer_board</i>
        </h3>

        <div id="projects-cards" class="row">
            
            {{#each projects}}
                {{> project this}}
            {{/each}}

        </div>
    </div>
</section>