<header id="top" class="intro teal lighten-2 z-depth-1">
    <div class="container">
        <div class="col s12 m4 l3 center">
            <img src="{{ photo }}" alt="Photo" class="circle responsive-img">
        </div>
        <div class="col s12 m8 l9">
            <h1 class="grey-text text-lighten-5">
                {{ title }}
                <br />
                <small>
                    {{ subtitle }}
                </small>
            </h1>
        </div>
    </div>
</header>